*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: orange;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(2, 2, 71);
    border-radius: 20px; 
    border: 3px solid orange;  
}

.navbar{
    width: 100%;
    height: 4.0625rem;
    background-color: rgba(24, 4, 138, 0.938);
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar__logo{
    font-weight: 600;
    font-size: 21px;
    font-style: normal;
    color: rgb(253, 190, 16);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: .625rem;
}

.navbar__botones{
    width: 40%;
    height: 2.5rem;
    background-color: rgb(41, 16, 153);
    border-radius: .625rem;    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;    
    transition: .5s;
}
.navbar__botones--h3{    
    color: white;    
    font-size: 1.25rem;    
    text-decoration: none;    
    transition: .5s;
}
.navbar__botones--h3:hover{    
    color: rgb(253, 190, 16);    
    transition: .5s;
}
.navbar__botones--h3-none{
    color: rgb(253, 153, 150);
    font-size: 1.25rem;    
    text-decoration: none;
}
.navbar__redes{
    background-color: rgba(0, 255, 255, 0.39);
    border-radius: 24px;
    margin-right: 1.5625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__redes--ico{
margin-top: .2100rem;
width: 2.8rem;
height: 2.5rem;
}

.grid{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 23.125rem;
    grid-template-areas: 
    "div1 div1 div1 div1 div1"    
    "div1 div1 div1 div1 div1"  
    ". div2 div2 div2 ."    
    ". div2 div2 div2 ." 
    "div3 div3 . div4 div4"    
    "div3 div3 . div4 div4" 
    "div3 div3 . div4 div4"     
    "div6 div6 div6 div6 div6"
    "div6 div6 div6 div6 div6"    
    "div5 div5 div5 div5 div5"
    ;
}

.div1{
    grid-area: div1; 
    background-image: url("../assets/banner-intro.jpg");
    background-repeat: no-repeat;
    background-size: 100%;    
    background-position: left -40px;   
    font-size: 80px;
    display: flex;
    justify-content: right;
    align-items: center;
    -webkit-box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.39);
    box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.39);
}
.div1--h1{
    border-radius: 2px;
    color: rgb(255, 255, 255);
    background-color: rgba(5, 35, 119, 0.945);
    
}
.div2{
    height: 400px;
    font-size: 25px;
    border-radius: 20px;  
    grid-area: div2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.div3{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: div3;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    padding: 15px;
}
.imagen_saludable{
    background-image: 10px;
    margin-left: 1.25rem;

}

.div4{
    border-radius: 40px;
    padding: 25px;
    background-color: rgb(16, 4, 117);
    color: rgb(255, 255, 255);
    grid-area: div4;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height:40px;
    font-weight: 600;
}
.div6{
    grid-area: div6;
    height: 440px;
    background-color: rgba(182, 178, 178, 0.295);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(4, 4, 97);
    font-weight: 500;
    line-height: 60px;
    overflow: auto;
}
.div5{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-top: 40px;
    background-color: rgb(253, 190, 16);
    grid-area: div5;
    width: 100%;
    text-align: center;
}

.grid-productos{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 335px;
    grid-template-areas: 
    "div1prod div1prod div1prod div1prod div1prod"    
    "div1prod div1prod div1prod div1prod div1prod"  
    ". div2prod div2prod div2prod ."    
    ". div2prod div2prod div2prod ." 
    "galeria-div galeria-div2 galeria-div2 galeria-div4 galeria-div6"
    "galeria-div galeria-div3 galeria-div3 galeria-div5 galeria-div6"
    "div4prod div4prod div4prod div3prod div3prod "    
    "div4prod div4prod div4prod div3prod div3prod " 
    "div4prod div4prod div4prod div3prod div3prod "     
    "div6prod div6prod div6prod div6prod div6prod"    
    "div6prod div6prod div6prod div6prod div6prod"
    "div5prod div5prod div5prod div5prod div5prod"
    ;
}
.galeria-div1{
    grid-area: galeria-div;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.img-bananas{
    width: 100%; 
    height: 44%;    
    border-radius: 20px; 
    transition: .5s;
    margin-left: 20px;
}
.img-bananas:hover{    
    transform: translate(1px, -10px);
    transition: .5s;
    filter: blur(0.7px);
}
.img-tomate{
    width: 78%;
    height: 100%;     
    border-radius: 14px;
    transition: .5s;  
}
.img-tomate:hover{    
    transform: translate(1px, -10px);
    transition: .5s;
    filter: blur(0.7px);
}
.img-uvas{
    width: 60%;
    height: 100%;  
    border-radius: 14px;
    transition: .5s;
}
.img-uvas:hover{
    transform: translate(1px, -10px);
    transition: .5s;
    filter: blur(0.7px);
}
.img-naranja{
    width: 92%;
    height: 65%;
    border-radius: 14px;
    margin-right: 66px;
    transition: .5s;
}
.img-naranja:hover{    
    transform: translate(1px, -10px);
    transition: .5s;
    filter: blur(0.7px);
}
.img-suchini{
    width: 96%;
    height: 100%;
    border-radius: 14px;
    margin-right: 66px;
    transition: .5s;
}
.img-suchini:hover{    
    transform: translate(1px, -10px);
    transition: .5s;
    filter: blur(0.7px);
}
.img-anana{
    width: 98%; 
    height: 44%;    
    border-radius: 20px; 
    transition: .5s;
}
.img-anana:hover{    
    transform: translate(1px, -10px);
    transition: .5s;
    filter: blur(0.7px);
}
.galeria-div2{ 
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 20px;  
    width: 97%;
    height: 90%;
    grid-area: galeria-div2;
}
.galeria-div3{  
    display: flex;
    align-items: center;
    justify-content: center;     
    border-radius: 20px;   
    width: 97%;
    height: 90%;
    grid-area: galeria-div3;
}
.galeria-div4{    
    width: 100%;
    height: 90%;
    grid-area: galeria-div4;       
    border-radius: 20px;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.galeria-div5{       
    border-radius: 20px;    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    grid-area: galeria-div5;
}
.galeria-div6{       
    border-radius: 20px;
    width: 100%;
    height: 100%;
    grid-area: galeria-div6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1prod{
    grid-area: div1prod; 
    background-image: url("../assets/banner-productos.jpg");
    background-repeat: no-repeat;
    background-size: 100%;    
    background-position: left -40px;   
    font-size: 80px;
    display: flex;
    justify-content: right;
    align-items: center;
    -webkit-box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.39);
    box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.39);
}
.div1--h1{
    border-radius: 2px;
    color: rgb(255, 255, 255);
    background-color: rgba(5, 35, 119, 0.945);
    
}
.div2prod{
    margin-top: 20px;
    height: 250px;
    font-size: 25px;
    border-radius: 20px;  
    grid-area: div2prod;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.div3prod{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: div3prod;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    width: 100%;
}
.imagen_saludable{
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
}

.div4prod{
    border-radius: 40px;
    margin-top: 140px;
    height: 480px;
    width: 85%;
    padding: 25px;
    background-color: rgb(16, 4, 117);
    color: rgb(255, 255, 255);
    grid-area: div4prod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height:40px;
    font-weight: 600;
}
.div5prod{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-top: 40px;
    background-color: rgb(253, 190, 16);
    grid-area: div5prod;
    width: 100%;
    text-align: center;
}

.div6prod{
    grid-area: div6prod;
    height: 440px;
    background-color: rgba(182, 178, 178, 0.295);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(4, 4, 97);
    font-weight: 500;
    line-height: 60px;
    overflow: auto;
}

.imagen_saludable-prod{
    width: 70%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
}
.span-donpichon{
    color: yellow;
}

.div1-noso{
    grid-area: div1; 
    background-image: url("../assets/banner-noso.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;    
    background-position: left -110px;   
    font-size: 80px;
    display: flex;
    justify-content: right;
    align-items: center;
    -webkit-box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.39);
    box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.39);
}
.div2-noso{
    height: 265px;
    font-size: 25px;
    border-radius: 20px;  
    grid-area: div2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.h3-noso{
    background-color: rgb(241, 27, 241);
    height: 50px;
    padding: 10px;
    border-radius: 14px;
    margin-bottom: 4px;
}
.div6-noso{
    grid-area: div6;
    height: 440px;
    background-color: rgb(1, 1, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 60px;
    overflow: auto;
}

.div1-contacto{
    grid-area: div1; 
    background-image: url("../assets/banner-contacto.jpg");
    background-repeat: no-repeat;
    background-size: 100%;    
    background-position: left -100px;
    background-size: cover;   
    font-size: 80px;
    display: flex;
    justify-content: right;
    align-items: center;
    -webkit-box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.39);
    box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.39);
}

.grid-contacto{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 23.125rem;
    grid-template-areas: 
    "div1 div1 div1 div1 div1"    
    "div1 div1 div1 div1 div1"  
    ". div2 div2 div2 ."    
    ". div2 div2 div2 ." 
    "div4 div4 div4 div4 div4"    
    "div4 div4 div4 div4 div4" 
    "div4 div4 div4 div4 div4"     
    "div6 div6 div6 div6 div6"
    "div6 div6 div6 div6 div6"    
    "div5 div5 div5 div5 div5"
    ;
}

.div2-contacto{
    height: 400px;
    font-size: 25px;
    border-radius: 20px;  
    grid-area: div2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.h3-contacto{
    margin-bottom: 30px;
    background-color: rgb(14, 2, 119);
    padding: 12px;
    border-radius: 15px;
    font-family: monospace;
    font-size: 30px;
}
    .div-contacto{
    border-radius: 40px;
    background-color: rgb(5, 0, 53);
    color: rgb(255, 163, 25);;
    grid-area: div4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:40px;
    font-weight: 600;
    height: 31.1875rem;
    width: 100%;
    font-size: 20px;
}
.h3-contacto-titulo{
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 30px;
    margin-bottom: 30px;
    background-color: rgb(14, 2, 119);
    padding: 12px;
    border-radius: 15px;
}
.a-contacto-wsp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;    
    margin-top: 45px;
}
.img-wsp-contacto{
    width: 15%;
    align-items: center;    
    transition: .5s;
}

.img-wsp-contacto:hover{
    transform: translate(0px, -10px);
    transition: .5s;
    filter: grayscale(40%);
}

.grid-envios{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 23.125rem;
    grid-template-areas: 
    "div1 div1 div1 div1 div1"    
    "div1 div1 div1 div1 div1"  
    ". div2 div2 div2 ."    
    ". div2 div2 div2 ." 
    ". div-envios div-envios div-envios ."    
    ". div-envios div-envios div-envios ." 
    "div4 div4 div4 div4 div4"    
    "div4 div4 div4 div4 div4" 
    "div4 div4 div4 div4 div4"     
    "div6 div6 div6 div6 div6"
    "div6 div6 div6 div6 div6"    
    "div5 div5 div5 div5 div5"
    ;
}

.div1-envios{
    grid-area: div1; 
    background-image: url("../assets/banner-envios.png");
    background-repeat: no-repeat;
    background-size: 100%;    
    background-position: left -120px;
    background-size: cover;   
    font-size: 80px;
    display: flex;
    justify-content: right;
    align-items: center;
    -webkit-box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.39);
    box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.39);
}
.div2-envios{
    height: 300px;
    font-size: 25px;
    border-radius: 20px;  
    grid-area: div2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
}

.img-envios{
    margin-bottom: 47px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    grid-area: div-envios;
}
.img-envios--img{
    width: 25%;

}
.div-envios{
    border-radius: 40px;
    background-color: rgb(5, 0, 53);
    color: rgb(255, 255, 255);;
    grid-area: div4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:40px;
    font-weight: 400;
    height: 31.1875rem;
    width: 99.7%;
    font-size: 18px;
    text-align: center;
}
.h3-envios-titulo{
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 30px;
    margin-bottom: 30px;
    background-color: rgb(14, 2, 119);
    padding: 12px;
    border-radius: 15px;
}
.texto-envios-pedido{
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    color: rgb(7, 209, 51);
}

@media (max-width: 1098.98px){
.div1 {
    font-size: 67px;
}  
.h3-noso {
    font-size: 25px;
    height: 37px;
}
.div1--h1 {
    font-size: 100px;
}
}

@media (max-width: 990px){
    .div1 {
        font-size: 59px;
    }  
    .imagen_saludable-prod {
        width: 70%;
        height: 34%;
    }
    .h3-noso {
        font-size: 20px;
    }
}
@media (max-width: 850px){
    .div1 {
        font-size: 49px;
    } 
    .imagen_saludable {
        width: 92%;
        height: 75%;
    }
.grid {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 23.125rem;
    grid-template-areas:
        "div1 div1 div1 div1 div1"
        "div1 div1 div1 div1 div1"
        ". div2 div2 div2 ."
        ". div2 div2 div2 ."
        "div4 div4 div4 div4 div4"
        "div4 div4 div4 div4 div4"
        "div3 div3 div3 div3 div3"
        "div3 div3 div3 div3 div3"        
        "div6 div6 div6 div6 div6"
        "div6 div6 div6 div6 div6"
        "div5 div5 div5 div5 div5";
}
.div1--h1 {
    font-size: 75px;
}
.div2-envios {
    font-size: 24px;
}
.texto-envios-pedido {
    margin-top: 26px;
    font-size: 33px;
}
.div-envios {
    font-size: 15px;
}
.img-wsp-contacto {
    width: 23%;
}
}

@media (max-width: 680px){
    .navbar__redes {
        display: none;
    }
    .navbar__botones {
        width: 76%;
    }
    .imagen_saludable {
        width: 55%;
        height: 66%;
    }
    .div6 {
        line-height: 52px;
        font-size: 14px;
    }
    .div1--h1 {
        font-size: 71px;
    }
    .div1 {
        background-size: 146%;
    }
    .div2 {
        font-size: 23px;
    }
    .div2prod {
        font-size: 19px;
    }
    .imagen_saludable-prod {
        width: 68%;
        height: 23%;
    }
    .div1-noso {
        background-size: 130%;
    }
    .h3-noso {
        font-size: 14px;
        height: 25px;
    }
    .div6-noso {
        font-size: 13px;
    }
    .div2-envios {
        font-size: 19px;
    }
    .div2-contacto {
        font-size: 20px;
    }
    .img-wsp-contacto {
        width: 34%;
    }
}
@media (max-width: 480px){
    .navbar__botones--h3 {
        font-size: 13px;
    }
    .navbar__botones--h3-none{
        font-size: 13px;
    }
    .div1--h1 {
        font-size: 47px;
    }
    .div1 {
        background-size: 194%;
    }
    .div2 {
        font-size: 16px;
    }
    .imagen_saludable {
        width: 81%;
        height: 64%;
    }
    .div6 {
        line-height: 44px;
        font-size: 11px;
    }
    .div2prod {
        font-size: 14px;
    }
    .div4prod {
        border-radius: 40px;
        margin-top: 100px;
        height: 334px;
        font-size: 12px;
    }
    .div6prod {
        line-height: 42px;
        font-size: 12px;
        margin-left: 4px;
    }
    .div1-noso {
        background-size: 179%;
    }
    .div1--h1 {
        font-size: 59px;
    }
    .h3-noso {
        font-size: 10px;
        height: 14px;
    }
    .div6-noso {
        padding: 4px;
        font-size: 12px;
        line-height: 45px;
    }
    .div1--h1 {
        font-size: 44px;
    }
    .div1-envios {
        background-size: 182%;
    }
    .div2-envios {
        font-size: 14px;
    }
    .img-envios--img {
        width: 43%;
    }
    .div1--h1 {
        font-size: 102px;
    }
    .div2-contacto {
        font-size: 35px;
        line-height: 1.7;
    }
    .div-contacto {
        font-size: 17px;
    } 
}

@media (max-width: 380px){
    .navbar__logo{
        display: none;
    }
    .navbar__botones {
        width: 100%;
    }
    .div1--h1 {
        font-size: 58px;
        text-align: center;
    }
    .div1 {
        background-size: 246%;
    }
    .div2 {
        font-size: 21px;
    }
    .imagen_saludable {
        width: 85%;
        height: 69%;
    }
    .div6 {
        font-size: 10px;
        font-weight: bold;
        line-height: 43px;
        padding: 8px;
    }
    .div1prod {
        background-size: 158%;
    }
    .div2prod {
        font-size: 32px;
        text-align: center;
    }
    .div1-noso {
        background-size: 231%;
    }
    .h3-noso {
        font-size: 15px;
        height: 53px;
        text-align: center;
    }
    .div6-noso {
        padding: 6px;
        font-size: 11px;
        line-height: 45px;
    }
    .div1-envios {
        background-size: 252%;
    }
    .div2-envios {
        font-size: 14px;
        text-align: center;
    }
    .div1--h1 {
        font-size: 41px;
        text-align: center;
    }
    .h3-envios-titulo {
        font-size: 16px;
    }
    .texto-envios-pedido {
        font-size: 28px;
    }
    .div-envios {
        font-size: 12px;
        height: 29.1875rem;
    }
    .img-wsp-contacto {
        width: 34%;
    }
    .div1--h1 {
        font-size: 82px;
    }
    .div1-contacto{        
        background-size: 160%;
    }
    .div2-contacto {
        font-size: 31px;
    }
    .div-contacto {
        font-size: 13px;
    }
    .img-wsp-contacto {
        width: 54%;
    }
}